@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Andika");
@import url("https://fonts.googleapis.com/css?family=Raleway");
/* line 9, main.scss */
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 17, main.scss */
header {
  position: relative;
}

/* line 20, main.scss */
.main-container {
  position: relative;
  width: 100%;
}
/* line 23, main.scss */
.main-container .logo-nav-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 26, main.scss */
.main-container .logo-nav-container nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 0vh;
  background: rgba(255, 255, 255, 0.82);
  right: 0;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 36, main.scss */
.main-container .logo-nav-container nav .nav-container {
  width: 100%;
}
/* line 38, main.scss */
.main-container .logo-nav-container nav .nav-container ul {
  margin-left: 15%;
}
@media only screen and (max-width: 767px) {
  /* line 38, main.scss */
  .main-container .logo-nav-container nav .nav-container ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/* line 48, main.scss */
.main-container .logo-nav-container nav .nav-container ul li {
  list-style: none;
  margin: 10px 0;
}
/* line 51, main.scss */
.main-container .logo-nav-container nav .nav-container ul li a {
  text-decoration: none;
  padding: 15px;
  margin: 5px 0px;
  font-size: 45px;
  color: black;
}
@media only screen and (max-width: 767px) {
  /* line 51, main.scss */
  .main-container .logo-nav-container nav .nav-container ul li a {
    font-size: 30px;
  }
}
/* line 65, main.scss */
.main-container .logo-nav-container .logotype {
  z-index: 3;
}
/* line 67, main.scss */
.main-container .logo-nav-container .logotype h1 {
  margin: 20px;
  font-size: 7.5em;
  -webkit-transition: .2s;
  transition: .2s;
  letter-spacing: 9px;
  color: #ffffff;
  position: relative;
  font-family: 'Anton', sans-serif;
}
@media only screen and (max-width: 992px) {
  /* line 67, main.scss */
  .main-container .logo-nav-container .logotype h1 {
    font-size: 5.5em;
  }
}
@media only screen and (max-width: 767px) {
  /* line 67, main.scss */
  .main-container .logo-nav-container .logotype h1 {
    font-size: 4.5em;
    margin: 5px;
  }
}
@media only screen and (max-width: 576px) {
  /* line 67, main.scss */
  .main-container .logo-nav-container .logotype h1 {
    font-size: 3.1em;
  }
}
/* line 85, main.scss */
.main-container .logo-nav-container .logotype h1 span {
  position: absolute;
  top: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-transform: translate(15px, -3px);
          transform: translate(15px, -3px);
  -webkit-transition: .2s;
  transition: .2s;
}
@media only screen and (max-width: 992px) {
  /* line 85, main.scss */
  .main-container .logo-nav-container .logotype h1 span {
    width: 15px;
    height: 15px;
    -webkit-transform: translate(10.5px, -3px);
            transform: translate(10.5px, -3px);
  }
}
@media only screen and (max-width: 767px) {
  /* line 85, main.scss */
  .main-container .logo-nav-container .logotype h1 span {
    width: 13px;
    height: 13px;
    -webkit-transform: translate(8px, -3px);
            transform: translate(8px, -3px);
  }
}
@media only screen and (max-width: 576px) {
  /* line 85, main.scss */
  .main-container .logo-nav-container .logotype h1 span {
    width: 10px;
    height: 10px;
    -webkit-transform: translate(4.5px, -4px);
            transform: translate(4.5px, -4px);
  }
}
/* line 114, main.scss */
.main-container .logo-nav-container .nav-menu .nav-menu-btn {
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 30px;
  margin: 1em 1.5em;
  z-index: 999;
}
@media only screen and (max-width: 767px) {
  /* line 114, main.scss */
  .main-container .logo-nav-container .nav-menu .nav-menu-btn {
    margin: 0.8em .8em;
  }
}
/* line 125, main.scss */
.main-container .logo-nav-container .nav-menu .nav-menu-btn span {
  position: absolute;
  width: 39px;
  right: 0;
  height: 4px;
  border-radius: 7px;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}
/* line 133, main.scss */
.main-container .logo-nav-container .nav-menu .nav-menu-btn span:nth-child(2) {
  margin-top: 11px;
  width: 34px;
}
/* line 137, main.scss */
.main-container .logo-nav-container .nav-menu .nav-menu-btn span:nth-child(3) {
  margin-top: 21px;
}
/* line 143, main.scss */
.main-container .main-slider {
  width: 100%;
  height: auto;
  top: 0;
  z-index: -1;
}
/* line 148, main.scss */
.main-container .main-slider .slider-container {
  position: relative;
}
/* line 150, main.scss */
.main-container .main-slider .slider-container .slider1 {
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* line 154, main.scss */
.main-container .main-slider .slider-container .slider1 .btnPrev, .main-container .main-slider .slider-container .slider1 .btnNext {
  border-radius: 50%;
  top: 40%;
  width: 120px;
  height: 120px;
  background: #ffffff;
  position: absolute;
  cursor: pointer;
  font-size: 2.5em;
  color: #ff0000;
}
@media only screen and (max-width: 992px) {
  /* line 154, main.scss */
  .main-container .main-slider .slider-container .slider1 .btnPrev, .main-container .main-slider .slider-container .slider1 .btnNext {
    width: 100px;
    height: 100px;
    font-size: 2.2em;
  }
}
@media only screen and (max-width: 768px) {
  /* line 154, main.scss */
  .main-container .main-slider .slider-container .slider1 .btnPrev, .main-container .main-slider .slider-container .slider1 .btnNext {
    width: 80px;
    height: 80px;
    font-size: 2em;
  }
}
@media only screen and (max-width: 576px) {
  /* line 154, main.scss */
  .main-container .main-slider .slider-container .slider1 .btnPrev, .main-container .main-slider .slider-container .slider1 .btnNext {
    width: 60px;
    height: 60px;
    font-size: 1.6em;
  }
}
/* line 181, main.scss */
.main-container .main-slider .slider-container .slider1 .btnPrev {
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}
/* line 189, main.scss */
.main-container .main-slider .slider-container .slider1 .btnNext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  padding-left: 10px;
}
/* line 197, main.scss */
.main-container .main-slider .slider-container .slider1 .my-slides {
  width: 100%;
  position: relative;
}
/* line 200, main.scss */
.main-container .main-slider .slider-container .slider1 .my-slides img {
  width: 100%;
  height: 780px;
}
@media only screen and (max-width: 1200px) {
  /* line 200, main.scss */
  .main-container .main-slider .slider-container .slider1 .my-slides img {
    height: 620px;
  }
}
@media only screen and (max-width: 992px) {
  /* line 200, main.scss */
  .main-container .main-slider .slider-container .slider1 .my-slides img {
    height: 520px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 200, main.scss */
  .main-container .main-slider .slider-container .slider1 .my-slides img {
    height: 440px;
  }
}
@media only screen and (max-width: 576px) {
  /* line 200, main.scss */
  .main-container .main-slider .slider-container .slider1 .my-slides img {
    height: 250px;
  }
}
/* line 216, main.scss */
.main-container .main-slider .slider-container .slider1 .my-slides .slide-text {
  position: absolute;
  bottom: 8%;
  right: 5%;
  z-index: 1;
  color: #ffffff;
}
/* line 222, main.scss */
.main-container .main-slider .slider-container .slider1 .my-slides .slide-text h1 {
  text-align: right;
}
@media only screen and (max-width: 768px) {
  /* line 222, main.scss */
  .main-container .main-slider .slider-container .slider1 .my-slides .slide-text h1 {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 576px) {
  /* line 222, main.scss */
  .main-container .main-slider .slider-container .slider1 .my-slides .slide-text h1 {
    font-size: 1em;
  }
}
/* line 231, main.scss */
.main-container .main-slider .slider-container .slider1 .my-slides .slide-text h2 {
  text-align: right;
  font-size: 1.5em;
}
@media only screen and (max-width: 768px) {
  /* line 231, main.scss */
  .main-container .main-slider .slider-container .slider1 .my-slides .slide-text h2 {
    font-size: 1em;
  }
}
@media only screen and (max-width: 576px) {
  /* line 231, main.scss */
  .main-container .main-slider .slider-container .slider1 .my-slides .slide-text h2 {
    font-size: .5em;
  }
}
/* line 244, main.scss */
.main-container .main-slider .slider-container span {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 252, main.scss */
.main-container .main-slider .slider-container span:nth-child(1) {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  top: 69%;
  left: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: rgba(255, 255, 255, 0.329);
}
@media only screen and (max-width: 768px) {
  /* line 252, main.scss */
  .main-container .main-slider .slider-container span:nth-child(1) {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 576px) {
  /* line 252, main.scss */
  .main-container .main-slider .slider-container span:nth-child(1) {
    width: 20px;
    height: 20px;
  }
}
/* line 269, main.scss */
.main-container .main-slider .slider-container span:nth-child(2) {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 40%;
  left: 20%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: rgba(255, 255, 255, 0.52);
}
@media only screen and (max-width: 768px) {
  /* line 269, main.scss */
  .main-container .main-slider .slider-container span:nth-child(2) {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 576px) {
  /* line 269, main.scss */
  .main-container .main-slider .slider-container span:nth-child(2) {
    width: 35px;
    height: 35px;
  }
}
/* line 286, main.scss */
.main-container .main-slider .slider-container span:nth-child(3) {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  top: 30%;
  left: 10%;
}
@media only screen and (max-width: 768px) {
  /* line 286, main.scss */
  .main-container .main-slider .slider-container span:nth-child(3) {
    width: 15px;
    height: 15px;
  }
}
/* line 297, main.scss */
.main-container .main-slider .slider-container span:nth-child(4) {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  top: 70%;
  left: 3%;
}
@media only screen and (max-width: 768px) {
  /* line 297, main.scss */
  .main-container .main-slider .slider-container span:nth-child(4) {
    width: 15px;
    height: 15px;
  }
}
/* line 308, main.scss */
.main-container .main-slider .slider-container span:nth-child(5) {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 7%;
  left: 42%;
  background-color: rgba(255, 255, 255, 0.65);
}
@media only screen and (max-width: 768px) {
  /* line 308, main.scss */
  .main-container .main-slider .slider-container span:nth-child(5) {
    width: 35px;
    height: 35px;
  }
}
@media only screen and (max-width: 576px) {
  /* line 308, main.scss */
  .main-container .main-slider .slider-container span:nth-child(5) {
    width: 30px;
    height: 30px;
  }
}
/* line 324, main.scss */
.main-container .main-slider .slider-container span:nth-child(6) {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 5%;
  left: 80%;
  background: rgba(255, 0, 0, 0.6509803922);
}
@media only screen and (max-width: 768px) {
  /* line 324, main.scss */
  .main-container .main-slider .slider-container span:nth-child(6) {
    width: 35px;
    height: 35px;
  }
}
@media only screen and (max-width: 576px) {
  /* line 324, main.scss */
  .main-container .main-slider .slider-container span:nth-child(6) {
    width: 30px;
    height: 30px;
  }
}
/* line 340, main.scss */
.main-container .main-slider .slider-container span:nth-child(7) {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 15%;
  left: 65%;
  background: rgba(255, 255, 255, 0.89);
}
@media only screen and (max-width: 768px) {
  /* line 340, main.scss */
  .main-container .main-slider .slider-container span:nth-child(7) {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 576px) {
  /* line 340, main.scss */
  .main-container .main-slider .slider-container span:nth-child(7) {
    width: 35px;
    height: 35px;
  }
}
/* line 356, main.scss */
.main-container .main-slider .slider-container span:nth-child(8) {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  top: 36%;
  left: 46%;
}
@media only screen and (max-width: 768px) {
  /* line 356, main.scss */
  .main-container .main-slider .slider-container span:nth-child(8) {
    width: 15px;
    height: 15px;
  }
}
/* line 367, main.scss */
.main-container .main-slider .slider-container span:nth-child(9) {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  top: 50%;
  left: 65%;
  background: rgba(255, 255, 255, 0.22);
}
@media only screen and (max-width: 768px) {
  /* line 367, main.scss */
  .main-container .main-slider .slider-container span:nth-child(9) {
    width: 15px;
    height: 15px;
  }
}
/* line 379, main.scss */
.main-container .main-slider .slider-container span:nth-child(10) {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  top: 43%;
  left: 80%;
  background: rgba(255, 0, 0, 0.82);
}
@media only screen and (max-width: 768px) {
  /* line 379, main.scss */
  .main-container .main-slider .slider-container span:nth-child(10) {
    width: 15px;
    height: 15px;
  }
}

/* line 396, main.scss */
.fades {
  -webkit-animation: slideFade 0.5s;
          animation: slideFade 0.5s;
}

@-webkit-keyframes slideFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
/* line 404, main.scss */
.colorwhite {
  background: #ffffff;
}

/* line 407, main.scss */
.coloronscroll {
  background: #bfbfbf;
}

/* line 410, main.scss */
.line1Active {
  -webkit-transform: translateY(11px) rotate(45deg) !important;
          transform: translateY(11px) rotate(45deg) !important;
  background: red !important;
}

/* line 414, main.scss */
.line2Active {
  opacity: 0;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

/* line 418, main.scss */
.line3Active {
  -webkit-transform: translateY(-10px) rotate(-45deg) !important;
          transform: translateY(-10px) rotate(-45deg) !important;
  background: red !important;
}

/* line 422, main.scss */
.show {
  height: 100vh !important;
}

/* line 425, main.scss */
.logotypeActive {
  color: red !important;
}

/* line 428, main.scss */
.logotypeCircleActive {
  background: red !important;
}

/* line 435, main.scss */
#sec1 {
  padding-top: 3em;
}
/* line 437, main.scss */
#sec1 .main-container {
  margin: 0 auto;
  width: 990px;
}
@media only screen and (max-width: 1024px) {
  /* line 437, main.scss */
  #sec1 .main-container {
    width: 100%;
  }
}
/* line 443, main.scss */
#sec1 .main-container h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Andika', sans-serif;
  letter-spacing: 9px;
  font-size: 30px;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  /* line 443, main.scss */
  #sec1 .main-container h1 {
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 577px) {
  /* line 443, main.scss */
  #sec1 .main-container h1 {
    font-size: 26px;
  }
}
/* line 458, main.scss */
#sec1 .main-container .row {
  margin-top: 3em;
  margin-right: 0px;
  margin-left: 0px;
}
/* line 462, main.scss */
#sec1 .main-container .row .main-icon-block {
  margin: 0 auto;
  width: 97%;
  height: 90%;
  background: #ebe8de;
}
@media only screen and (max-width: 767px) {
  /* line 462, main.scss */
  #sec1 .main-container .row .main-icon-block {
    width: 80%;
  }
}
@media only screen and (max-width: 577px) {
  /* line 462, main.scss */
  #sec1 .main-container .row .main-icon-block {
    width: 90%;
  }
}
/* line 473, main.scss */
#sec1 .main-container .row .main-icon-block .main-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 4em;
}
/* line 480, main.scss */
#sec1 .main-container .row .main-icon-block .main-icon img {
  margin-top: 3em;
}
/* line 483, main.scss */
#sec1 .main-container .row .main-icon-block .main-icon h4 {
  font-size: 30px;
  margin-top: 1em;
  font-family: 'Andika', sans-serif;
  text-transform: uppercase;
  letter-spacing: 9px;
}
@media only screen and (max-width: 577px) {
  /* line 483, main.scss */
  #sec1 .main-container .row .main-icon-block .main-icon h4 {
    font-size: 25px;
  }
}
/* line 497, main.scss */
#sec1 .car-img {
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* line 501, main.scss */
#sec1 .car-img .f {
  width: 100%;
}
@media only screen and (max-width: 769px) {
  /* line 501, main.scss */
  #sec1 .car-img .f {
    width: 150%;
    -webkit-transform: translateX(-13%);
            transform: translateX(-13%);
  }
}
/* line 508, main.scss */
#sec1 .car-img .animationCar {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-animation: carAnimation 10s ease-in infinite;
          animation: carAnimation 10s ease-in infinite;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media only screen and (max-width: 769px) {
  /* line 508, main.scss */
  #sec1 .car-img .animationCar {
    width: 150%;
    -webkit-transform: translateX(47%);
            transform: translateX(47%);
    -webkit-animation: carAnimation2 7s ease-in infinite;
            animation: carAnimation2 7s ease-in infinite;
  }
}

@-webkit-keyframes carAnimation {
  from {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  to {
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
  }
}

@keyframes carAnimation {
  from {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  to {
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
  }
}
@-webkit-keyframes carAnimation2 {
  from {
    -webkit-transform: translateX(47%);
            transform: translateX(47%);
  }
  to {
    -webkit-transform: translateX(-35%);
            transform: translateX(-35%);
  }
}
@keyframes carAnimation2 {
  from {
    -webkit-transform: translateX(47%);
            transform: translateX(47%);
  }
  to {
    -webkit-transform: translateX(-35%);
            transform: translateX(-35%);
  }
}
/* line 542, main.scss */
#sec2 {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}
@media only screen and (max-width: 769px) {
  /* line 546, main.scss */
  #sec2 .container {
    min-width: 100%;
  }
}
/* line 550, main.scss */
#sec2 .container .main-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 553, main.scss */
#sec2 .container .main-container .main-map {
  width: 100%;
}
/* line 556, main.scss */
#sec2 .container .main-container .main-contact {
  width: 82%;
  background: #ebe8de;
  margin-top: -20em;
  z-index: 1;
}
@media only screen and (max-width: 991px) {
  /* line 556, main.scss */
  #sec2 .container .main-container .main-contact {
    background: #ffffff;
    margin-top: -10em;
  }
}
@media only screen and (max-width: 991px) {
  /* line 566, main.scss */
  #sec2 .container .main-container .main-contact .row .col-order {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  /* line 569, main.scss */
  #sec2 .container .main-container .main-contact .row .col-order .main-social-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-top: 1.5em;
  }
  /* line 574, main.scss */
  #sec2 .container .main-container .main-contact .row .col-order .main-social-block h1 {
    display: none;
  }
  /* line 577, main.scss */
  #sec2 .container .main-container .main-contact .row .col-order .main-social-block h2 {
    width: auto;
    margin: 0.3em -0.9em;
  }
}
@media only screen and (max-width: 991px) and (max-width: 769px) {
  /* line 577, main.scss */
  #sec2 .container .main-container .main-contact .row .col-order .main-social-block h2 {
    font-size: 30px;
    margin: 0.5em -0.9em;
  }
}
@media only screen and (max-width: 991px) {
  /* line 585, main.scss */
  #sec2 .container .main-container .main-contact .row .col-order .main-social-block .main-social-icon {
    width: 139px;
    margin: 0;
    margin: 0.9em -1.5em;
  }
}
/* line 594, main.scss */
#sec2 .container .main-container .main-contact .row .main-social-block h1 {
  margin: 0.5em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 36px;
}
@media only screen and (max-width: 1199px) {
  /* line 594, main.scss */
  #sec2 .container .main-container .main-contact .row .main-social-block h1 {
    font-size: 30px;
  }
}
/* line 603, main.scss */
#sec2 .container .main-container .main-contact .row .main-social-block h2 {
  margin: 0 auto;
  width: 60%;
  margin-top: 4.5em;
  text-align: center;
  font-size: 2.1em;
  font-weight: 400;
}
/* line 611, main.scss */
#sec2 .container .main-container .main-contact .row .main-social-block .main-social-icon {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px auto;
}
/* line 615, main.scss */
#sec2 .container .main-container .main-contact .row .main-social-block .main-social-icon .ficons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  cursor: pointer;
}
/* line 627, main.scss */
#sec2 .container .main-container .main-contact .row .col-color {
  background: #ffffff;
}
@media only screen and (max-width: 991px) {
  /* line 627, main.scss */
  #sec2 .container .main-container .main-contact .row .col-color {
    background: #ebe8de;
  }
}
/* line 633, main.scss */
#sec2 .container .main-container .main-contact .row .main-form {
  width: 100%;
}
@media only screen and (max-width: 993px) {
  /* line 633, main.scss */
  #sec2 .container .main-container .main-contact .row .main-form {
    padding-bottom: 1em;
  }
}
/* line 638, main.scss */
#sec2 .container .main-container .main-contact .row .main-form h1 {
  margin: 0.5em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
}
/* line 644, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media only screen and (max-width: 769px) {
  /* line 644, main.scss */
  #sec2 .container .main-container .main-contact .row .main-form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 4em;
  }
}
/* line 651, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-input {
  padding-bottom: 3em;
}
@media only screen and (max-width: 769px) {
  /* line 651, main.scss */
  #sec2 .container .main-container .main-contact .row .main-form form .main-input {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    position: relative;
  }
}
/* line 659, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-input label {
  color: red;
  position: absolute;
  left: 25px;
  margin-top: 30px;
  font-size: 13px;
}
@media only screen and (max-width: 769px) {
  /* line 668, main.scss */
  #sec2 .container .main-container .main-contact .row .main-form form .main-input label {
    left: 0px;
  }
}
/* line 672, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-input input {
  width: 205px;
  height: 30px;
  margin: 0.1em 1.5em;
  border: none;
  outline: none;
  background: #f2f2f2;
  padding-left: 15px;
}
@media only screen and (max-width: 769px) {
  /* line 672, main.scss */
  #sec2 .container .main-container .main-contact .row .main-form form .main-input input {
    width: 100%;
    margin: 0;
  }
}
/* line 685, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-input ::-webkit-input-placeholder {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}
#sec2 .container .main-container .main-contact .row .main-form form .main-input :-ms-input-placeholder {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}
#sec2 .container .main-container .main-contact .row .main-form form .main-input ::-ms-input-placeholder {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}
#sec2 .container .main-container .main-contact .row .main-form form .main-input ::placeholder {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}
/* line 691, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-input .textarea {
  position: relative;
}
/* line 693, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-input .textarea textarea {
  width: 205px;
  height: 90px;
  margin: 0em 1.5em;
  resize: none;
  background: #f2f2f2;
  border: none;
  outline: none;
  padding-left: 15px;
}
@media only screen and (max-width: 769px) {
  /* line 693, main.scss */
  #sec2 .container .main-container .main-contact .row .main-form form .main-input .textarea textarea {
    width: 100%;
    margin: 0;
  }
}
/* line 707, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-input .textarea label {
  position: absolute;
  margin-top: 90px;
}
/* line 712, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-input span {
  margin: 0em 1.5em;
}
@media only screen and (max-width: 769px) {
  /* line 712, main.scss */
  #sec2 .container .main-container .main-contact .row .main-form form .main-input span {
    margin: 0;
  }
}
/* line 720, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-radio .fmale {
  margin-left: 3em;
}
/* line 723, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-radio .radiobutton {
  position: relative;
  margin-left: 1em;
  padding-left: 35px;
  margin-bottom: 12px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  font-size: 16px;
}
@media only screen and (max-width: 769px) {
  /* line 723, main.scss */
  #sec2 .container .main-container .main-contact .row .main-form form .main-radio .radiobutton {
    margin-left: 1.3em;
  }
}
/* line 734, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-radio .radiobutton label {
  position: absolute;
  width: 166px;
  left: 0;
  color: red;
  font-size: 13px;
}
/* line 741, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-radio .radiobutton input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* line 746, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-radio .radiobutton .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 19px;
  width: 19px;
  border: 1px solid black;
  border-radius: 50%;
}
/* line 754, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-radio .radiobutton .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
/* line 760, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-radio .radiobutton input:checked ~ .checkmark::after {
  display: block;
}
/* line 763, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-radio .radiobutton .checkmark::after {
  top: 2px;
  left: 2px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000000;
}
/* line 773, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-checkox-block {
  margin-top: 4.1em;
}
@media only screen and (max-width: 769px) {
  /* line 773, main.scss */
  #sec2 .container .main-container .main-contact .row .main-form form .main-checkox-block {
    margin-top: 10px;
  }
}
/* line 778, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-checkox-block h4 {
  margin-left: 0.8em;
  padding-bottom: 8px;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
}
@media only screen and (max-width: 769px) {
  /* line 778, main.scss */
  #sec2 .container .main-container .main-contact .row .main-form form .main-checkox-block h4 {
    margin-left: 1.4em;
  }
}
/* line 788, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-checkox-block .main-checkbox {
  margin-left: 1em;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media only screen and (max-width: 769px) {
  /* line 788, main.scss */
  #sec2 .container .main-container .main-contact .row .main-form form .main-checkox-block .main-checkbox {
    margin-left: 1.6em;
  }
}
/* line 802, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-checkox-block .main-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* line 807, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-checkox-block .main-checkbox .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 17px;
  width: 17px;
  border: 1px solid black;
}
/* line 814, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-checkox-block .main-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
/* line 820, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-checkox-block .main-checkbox input:checked ~ .checkmark::after {
  display: block;
}
/* line 823, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-checkox-block .main-checkbox .checkmark::after {
  width: 100%;
  height: 100%;
  border: 3px solid white;
}
/* line 828, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .main-checkox-block .main-checkbox input:checked ~ .checkmark {
  background-color: #58595a;
}
/* line 833, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form .message {
  position: absolute;
  bottom: 0.9em;
  left: 1.6em;
  font-size: 14px;
  color: green;
}
@media only screen and (max-width: 768px) {
  /* line 833, main.scss */
  #sec2 .container .main-container .main-contact .row .main-form form .message {
    bottom: 3.2em;
    font-size: 13px;
  }
}
/* line 844, main.scss */
#sec2 .container .main-container .main-contact .row .main-form form button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0em 2em;
  width: 75px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  background: black;
  color: #ffffff;
}
@media only screen and (max-width: 769px) {
  /* line 844, main.scss */
  #sec2 .container .main-container .main-contact .row .main-form form button {
    left: -6px;
  }
}

/* line 868, main.scss */
#main-footer {
  width: 100%;
  padding-bottom: 1em;
}
@media only screen and (max-width: 992px) {
  /* line 868, main.scss */
  #main-footer {
    border-top: 1px solid #DFDFDF;
    padding-top: 1em;
  }
}
/* line 875, main.scss */
#main-footer .main-footer-container {
  width: 100%;
}
/* line 877, main.scss */
#main-footer .main-footer-container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 768px) {
  /* line 877, main.scss */
  #main-footer .main-footer-container .container {
    max-width: 768px;
  }
}
/* line 882, main.scss */
#main-footer .main-footer-container .container .main-created {
  width: 82%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 992px) {
  /* line 882, main.scss */
  #main-footer .main-footer-container .container .main-created {
    width: 90%;
  }
}
/* line 888, main.scss */
#main-footer .main-footer-container .container .main-created span {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}
/*# sourceMappingURL=main.css.map */